# Ignore virtual environment
.venv/

# Python cache files
__pycache__/
*.pyc

# macOS system files
.DS_Store

# VS Code settings (optional)
.vscode/


# Ignore reports and document files
reports/
*.doc
*.docx
*.pdf
old_csv files/
